@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*,
body,
html {
  margin: 0;
  padding: 0;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scale-up-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.scale-up {
  animation: scale-up-animation 0.5s ease forwards; /* Corrected syntax */
  animation-delay: 1s; /* Delay the animation by 1 second */
}
