@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*,
body,
html {
  margin: 0;
  padding: 0;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scale-up-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.scale-up {
  animation: scale-up-animation 0.5s ease forwards; /* Corrected syntax */
  animation-delay: 1s; /* Delay the animation by 1 second */
}

.bg-custom-gradient {
  @apply bg-[radial-gradient(243.05%_208.43%_at_50%_-96.76%,_#282828_0%,_#282828_71.08%,_#4d0da7_86.1%,_#582bb0_88.98%,_#8954f2_92.05%,_#cfc1f9_95.42%)];
}

.bg-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* background-color: red; */
  background: radial-gradient(
    circle at var(--x) var(--y),
    transparent 10%,
    rgba(0, 0, 0, 0.95) 20%
  );
}
